body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #282830;
    color: white;
}

#root {
    max-width: 1024px;
    margin: 0 auto;
}

.Search {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.Search >input {
    min-height: 25px;
    border-radius: 6px;
    border: none;
    width: 350px;
    padding: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
} 
input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.Search >button {
    min-height: 25px;
    padding: 10px;
    padding-left:20px;
    border: 2px solid white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: linear-gradient(90deg, rgb(255 255 255 / 100%), rgb(0 0 0 / 0%) 26%);
    color: white;
}

.Search >button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, rgb(255 255 255 / 100%), rgb(51, 190, 241) 26%);
    color: black;
}
.App {
    margin-top: 15px;
    min-height: calc(100vh - 74px - 74px);
    padding: 0;
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.Header {
    min-height: 74px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin:0 auto;
    font-size: 10px;
}
.Footer {
    min-height: 74px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin:0 auto;
    font-size: 10px;
}
.Card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    color:#9BA3AF;

}
.Card >img {
    width: 150px;
    height: 230px;
    border-radius: 10px;
    box-sizing: border-box;
}

.Card:hover{
    color:white;

}
.Card >h2 {
    font-size: 15px;
    overflow: hidden;
    padding: 5px 5px;
}

.Header >h1 {
    color: rgb(241, 241, 241);
    padding-left: 1rem;
    
}

.Footer >h2 {
    color: rgb(241, 241, 241);
    padding-left: 1rem;
}

p
{   
    margin:0;
    padding:0;
    font-size: 13px;
}

.Filter {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

